@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway/static/Raleway-Medium.ttf);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-indent: 0;
}

:root {

    /* Цвета для текст */
    --green: #598D66; /* Этот цвет также используется для фона */
    --darkBlack: #2C2D35;
    --gray: #86928B;

    /* Цвета для фона. Эти цвета также используются для кнопок и границ */
    --lightestGreen: #F4F6F5;
    --cardBG: #E1EDE6; 
    --lightGreen: #D4E8D9;
    --darkGreen: #376B44;
    --separatorLine: #C3D1C6;

    /* Оранжевые кнопки и границы */
    --lightYellow: #FAEB97;
    --Yellow: #EEDB6D;
    --brown: #D9B949;
    --darkBrown: #A38314;    
}

/* standart styles for whole document  ----------------------- */

body {

    font-family: Raleway;
    color: var(--darkBlack);
    background-color: var(--lightestGreen);
    
    .logoStar {
        width: 35px;
        height: 35px;
    }

}

a {
    color: var(--darkBlack);
}

ul, li {
    list-style-type: none;
}
