@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway/static/Raleway-Medium.ttf);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-indent: 0;
}

:root {

    /* Цвета для текст */
    --green: #598D66; /* Этот цвет также используется для фона */
    --darkBlack: #2C2D35;
    --gray: #86928B;

    /* Цвета для фона. Эти цвета также используются для кнопок и границ */
    --lightestGreen: #F4F6F5;
    --cardBG: #E1EDE6; 
    --lightGreen: #D4E8D9;
    --darkGreen: #376B44;
    --separatorLine: #C3D1C6;

    /* Оранжевые кнопки и границы */
    --lightYellow: #FAEB97;
    --Yellow: #EEDB6D;
    --brown: #D9B949;
    --darkBrown: #A38314;    
}

/* standart styles for whole document  ----------------------- */

body {

    font-family: Raleway;
    color: var(--darkBlack);
    background-color: var(--lightestGreen);
    
    .logoStar {
        width: 35px;
        height: 35px;
    }

    /* Временное решение для верстки. Потом исправить нужно */
    img {
        width: 200px;
    }
}

a {
    color: var(--darkBlack);
}

ul, li {
    list-style-type: none;
}




/* all above is for desktop screen  ------------------------------------------  */

/* tablet screen below 690px  ------------------------------------------------ */

@media (max-width: 690px) {

}

/* tablet screen below 510px ------------------------------------------------  */

@media (max-width: 510px) {

}

/* mobile screen below 480px ------------------------------------------------ */

@media (max-width: 480px) {

    body {
        min-width: 320px;
        overflow: scroll;
    }

    .header__navbar__logo {
        background-color: #fff; 
        color: var(--green);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        padding: 17px 15px 16px 15px;

        p {
            font-family: Raleway;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.48px;
        }
    }

    .header__navbar__links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 15px;
        background-color: var(--cardBG);

        .header__navbar__links__close-icon {
            display: none;
        }

        ul.header__navbar__links__list {
            display: none;

            padding-top: 30px;
            
            li {
                padding-bottom: 30px;
            }
        }

    }

    .intro {
        padding: 60px 15px;
    }
    
    .intro__image img {
        display: none;
    }

    .intro__text__header {
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
    }

    .intro__text__header span {
        color: var(--green);
    }

    .intro__text__info {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: var(--gray);
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .intro__text__link {
        display: block;
        width: 154px;
        height: 50px;
        border: 1px solid var(--green);
        color: var(--green);
        text-align: center;
        line-height: 50px;
    }



    section.cards {
        padding-bottom: 60px;
    }

    .cards__header {
        padding-bottom: 20px;
        padding-left: 15px;
    }

    .cards__header__h2 {
        margin-bottom: 20px;
    }

    .cards__header__links {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 41px;
        width: auto;

        overflow: scroll;

        .cards__header__link {
            width: 118px;
            flex-basis: 118px;
            flex-shrink: 0;
            height: 41px;
            line-height: 41px;
            background-color: var(--lightGreen);
            text-align: center;
            border-radius: 21px;
        }

        .cards__header__link:first-child {
            background-color: var(--darkGreen);
            color: #fff;
        }
    }


    .cards__page {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        gap: 30px;
    }

    .cards__page__card {
        width: 290px;
        background-color: var(--cardBG);
        padding: 20px 20px 30px 20px;

        img.cards__page__card__image {
            width: 250px;
            height: 250px;
            margin-bottom: 15px;
        }

        .cards__page__card__author {
            font-size: 16px;
            font-weight: 500;
            line-height: 18.78px; 
            color: var(--gray);
            margin-bottom: 10px;
        }

        .cards__page__card__header {
            font-size: 24px;
            font-weight: 500;
            line-height: 28.18px;
            margin-bottom: 10px;
        }

        .cards__page__card__info {
            font-size: 16px;
            font-weight: 500;
            line-height: 18.78px;
            margin-bottom: 30px;
        }

        .cards__page__card__price {
            font-size: 20px;
            font-weight: 500;
            line-height: 23.48px;
            color: var(--green);
            margin-bottom: 10px;
        }

        .cards__page__card__button {
            color: var(--green);
            background-color: var(--cardBG);
            width: 250px;
            height: 50px;
            border: 1px solid var(--green);
        }
    }
        
    .cards__page__germany, 
    .cards__page__england {
        display: none;
    }

    .section.new-collection {
        background-image: url(./media/new-collection/pic_background.png);
        background-origin: border-box;
        background-position: right 35% bottom 45%;
        background-size: cover;
        background-repeat: no-repeat;

        padding: 50px 15px;
    }

    .new-collection__header {
        display: flex;
        gap: 10px;
    }

    .new-collection__header__logo-image img {
        width: 50px;
        height: 50px;
    }

    .new-collection__header__text {
        color:var(--lightestGreen);
        font-size: 24px;
        font-weight: 200;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .new-collection__info {
        font-size: 16px;
        font-weight: 200;
        line-height: 22.4px;
        color: #fff;
        margin-bottom: 30px;
    }

    .new-collection__button {
        width: 290px;
        height: 50px;
        background-color: var(--Yellow);
        border: none;

        font-size: 18px;
        font-weight: 500;
        line-height: 21.13px;
    }

    .section.our-team {
        padding: 50px 15px;
    }

    .our-team__images {
        width: 290px;
        height: 286px;
        margin-bottom: 30px;

        position: relative;

        .our-team__images__image1 {
            position: absolute;
            bottom: 0;
            width: 290px;
        }

        .our-team__images__image2 {
            position: absolute;
            bottom: 28px;
            left: 32px;
            width: 175.3px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .our-team__info__header {
        font-size: 24px;
        font-weight: 500;
        line-height: 26.4px;
        margin-bottom: 20px;
    }

    .our-team__info__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px; 
        margin-bottom: 20px;
    }

    .our-team__info__avatars {
        display: flex;
        justify-content: flex-start;
        gap: 25px;

        .our-team__info__avatar  {
            width: 80px;
            height: 80px;
            border-radius: 50%;

            &:nth-child(1) {
                background-image: url(./media/our-team/ladyInHat.jpeg);
                background-origin: border-box;
                background-position: center top -8px;
                background-size: 110%;
                background-repeat: no-repeat;
            }

            &:nth-child(2) {
                background-image: url(./media/our-team/manInCap.jpeg);
                background-origin: border-box;
                background-position: center top -8px;
                background-size: 130%;
                background-repeat: no-repeat;
            }

            &:nth-child(3) {
                background-image: url(./media/our-team/manInShirt.jpeg);
                background-origin: border-box;
                background-position: center top -25px;
                background-size: 150%;
                background-repeat: no-repeat;
            }
            
        }
    }

    footer {
        background-color: var(--cardBG);
        padding: 20px 15px;
    }

    .footer__logo {
        display: flex;
        align-items: center;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 700;
    }

} /* end of @media (max-width: 480px) */